/* Обложка профиля */
.p-profiles .profile-head::before {
	display: block; 
	background-position: center 50%;
}


/* Никнейм */
.p-profiles .profile-head .c-brief header h1 {
	font: 54px 'Heiti SC';
}


/* Аватар */
.avatar img {
	border-radius: 50%;
}


/* Заголовок "О себе" */
.l-page .profile-content .about.block > div:nth-last-child(3) {
  display: none;
}


/* Активность */
.p-profiles .lifetime {
	margin-bottom: 0;
	min-height: 0;
}

.p-profiles .lifetime .bar,
.p-profiles .lifetime .times,
.p-profiles .activity .title {
	display: none;
}

.p-profiles .lifetime .title>.label {
	font-size: 0;
	line-height: 0;
}

.p-profiles .lifetime .title>.label::before {
	content: 'Активность';
	display: block;
	font-size: 0.875rem;
	line-height: 1rem;
}


/* Вкладки */
.u-tabs>div:not([data-tab]) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: auto;
}

.u-tabs [data-tab-switch] {
	display: block;
	flex-shrink: 0;
	min-width: 148px;
	padding: 4px 14px;
	margin: 8px;
	border: 2px solid var(--color-border);
	border-radius: 18px;
	color: var(--color-text-hint);
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	transition: .24s ease;
	user-select: none;
}

.u-tabs [data-tab-switch].active {
	background: var(--color-overlay-primary-selected);
	border-color: var(--color-primary);
	color: var(--color-primary);
	cursor: default;
}

.u-tabs [data-tab] {
	padding: 12px 8px;
	overflow: hidden;
}

.u-tabs.--centered [data-tab-switch]:first-child {
	margin-left: auto;
}

.u-tabs.--centered [data-tab-switch]:last-child {
	margin-right: auto;
}

.u-tabs.--anorva [data-tab-switch] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-width: 96px;
	padding: 4px;
	margin: 4px 0;
	background: transparent;
	border: 0;
	font-size: .875em;
}


/* Всплывающие стрелки */
.tipsy-arrow {
	display: none;
}


/* Анимированный график активности */
.activity .graph.vertical .line .bar {
  border-radius: 30px 30px 0px 0px;
  box-sizing: content-box;
  transform: translateY(1px);
  transform-origin: center bottom;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-name: graph-activity;
}

.activity .graph.vertical .line .bar:hover {
  transform: translateY(1px) !important;
}

.activity .graph.vertical .line:nth-child(1) .bar { animation-delay: -6.8s; }
.activity .graph.vertical .line:nth-child(2) .bar { animation-delay: -6.6s; }
.activity .graph.vertical .line:nth-child(3) .bar { animation-delay: -6.4s; }
.activity .graph.vertical .line:nth-child(4) .bar { animation-delay: -6.2s; }
.activity .graph.vertical .line:nth-child(5) .bar { animation-delay: -6.0s; }
.activity .graph.vertical .line:nth-child(6) .bar { animation-delay: -5.8s; }
.activity .graph.vertical .line:nth-child(7) .bar { animation-delay: -5.6s; }
.activity .graph.vertical .line:nth-child(8) .bar { animation-delay: -5.4s; }
.activity .graph.vertical .line:nth-child(9) .bar { animation-delay: -5.2s; }
.activity .graph.vertical .line:nth-child(10) .bar { animation-delay: -5.0s; }
.activity .graph.vertical .line:nth-child(11) .bar { animation-delay: -4.8s; }
.activity .graph.vertical .line:nth-child(12) .bar { animation-delay: -4.6s; }
.activity .graph.vertical .line:nth-child(13) .bar { animation-delay: -4.4s; }
.activity .graph.vertical .line:nth-child(14) .bar { animation-delay: -4.2s; }
.activity .graph.vertical .line:nth-child(15) .bar { animation-delay: -4.0s; }
.activity .graph.vertical .line:nth-child(16) .bar { animation-delay: -3.8s; }
.activity .graph.vertical .line:nth-child(17) .bar { animation-delay: -3.6s; }
.activity .graph.vertical .line:nth-child(18) .bar { animation-delay: -3.4s; }
.activity .graph.vertical .line:nth-child(19) .bar { animation-delay: -3.2s; }
.activity .graph.vertical .line:nth-child(20) .bar { animation-delay: -3.0s; }
.activity .graph.vertical .line:nth-child(21) .bar { animation-delay: -2.8s; }
.activity .graph.vertical .line:nth-child(22) .bar { animation-delay: -2.6s; }
.activity .graph.vertical .line:nth-child(23) .bar { animation-delay: -2.4s; }
.activity .graph.vertical .line:nth-child(24) .bar { animation-delay: -2.2s; }
.activity .graph.vertical .line:nth-child(25) .bar { animation-delay: -2.0s; }
.activity .graph.vertical .line:nth-child(26) .bar { animation-delay: -1.8s; }
.activity .graph.vertical .line:nth-child(27) .bar { animation-delay: -1.6s; }
.activity .graph.vertical .line:nth-child(28) .bar { animation-delay: -1.4s; }
.activity .graph.vertical .line:nth-child(29) .bar { animation-delay: -1.2s; }
.activity .graph.vertical .line:nth-child(30) .bar { animation-delay: -1.0s; }
.activity .graph.vertical .line:nth-child(31) .bar { animation-delay: -0.8s; }
.activity .graph.vertical .line:nth-child(32) .bar { animation-delay: -0.6s; }
.activity .graph.vertical .line:nth-child(33) .bar { animation-delay: -0.4s; }
.activity .graph.vertical .line:nth-child(34) .bar { animation-delay: -0.2s; }

@keyframes graph-activity {
  0%, 100% {
    background-color: var(--color-primary);
    transform: translateY(1px);
  }
  50% {
    background-color: var(--color-primary-reduced);
    transform: translateY(12px);
  }
}


/* Полосы прокрутки */
@media (min-width: 768px) {
	::-webkit-scrollbar {
		background-color: transparent;
		width: 10px;
	}
	
	::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 3px #000000;
		background-color: #737373;
		border-radius: 8px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: #8D8D8D;
	}
  
	::-webkit-scrollbar-thumb:active {
		background-color: #9A9A9A;
	}
	
	::-webkit-resizer {
		display: none;
	}
}


/* CSS редактор */
.cm-s-solarized.cm-s-light {
	background-color: #1F2123;
	color: #9EB8C7;
	text-shadow: none;
	font-size: 14px;
}

.b-edit_styles .edit_style .style_css .CodeMirror, 
.b-edit_styles .new_style .style_css .CodeMirror {
	border: 1px solid #000000;
}

.b-edit_styles .edit_style .style_css .CodeMirror.CodeMirror-fullscreen, 
.b-edit_styles .new_style .style_css .CodeMirror.CodeMirror-fullscreen {
	resize: none;
}

.cm-s-solarized.cm-s-light .CodeMirror-gutters {
	background-color: #282E33;
}

.cm-s-solarized .cm-number {
	color: #8f6fEC;
}

.cm-s-solarized .cm-property {
	color: #2BB39B;
}

.editor-container .buttons.m15 {
	position: fixed;
	top: 75px;
	right: 25px;
	z-index: 100;
}

.editor-container > div:nth-child(4) {
	display: none;
}

@media only screen and (min-width: 1024px) and (display-mode: fullscreen) {
	.b-edit_styles .edit_style .style_css .CodeMirror, 
	.b-edit_styles .new_style .style_css .CodeMirror {
		position: fixed;
		border: none;
		height: calc(100vh - 56px);
		z-index: 99;
		top: 56px;
		bottom: 0;
		right: 0;
		left: 0;
	}
}


/* BBCode редактор */
.b-shiki_editor.size-xl .body .editor > textarea {
	font-family: 'DejaVu Sans Mono';
	font-size: 13px;
	border: 1px solid #000000;  
}


/* Отображение кода для достижений без переноса длинных строк */
.p-achievements-global code {
	white-space: pre;
}

.p-achievements-global .b-code-v2::before {
	position: sticky;
	float: right;
	left: 111%;
	top: 0;
	right: 0;
}


/* Настройки постеров в блоке "О себе" */
@media screen and (max-width: 480px) {
	.cc-8-g15>.c-column {
		width: 23.875%;
	}
	
	.cc-8-g15>.c-column:nth-child(3n) {
		margin-right: 1.5%;
	}
  
	.cc-8-g15>.c-column:nth-child(3n+1) {
		clear: none;
	}
  
	.cc-8-g15>.c-column:nth-child(4n) {
		margin-right: 0;
	}
	
	
	.cc-8-g15>.c-column:nth-child(4n+1) {
		clear: left;
	}
}
