:root {
	--color-black: #212121;
	--color-white: #fafafa;
	--color-info: #4f91e8;
	--color-success: #66bb6a;
	--color-warning: #ef8d50;
	--color-danger: #ef5350;
	--color-offtop: #f58ebb;
	--color-violet: #a64fe8;
	--color-yellow: #e8dc4f;
	--color-magenta: #e84fde;
	--layout-gutter: 16px;
	--layout-margin: 16px;
	--u-grid: 8px;
	--l-gutter: 16px;
	--l-margin: 16px;
	--l-avatar: 40px;
	--l-sticky--top: 56px;
	--border-round: 50%;
	--border-rounded: 3px;
	--font-size: 16px;
	--word-spacing: .375em;
}


/* Активность */
.p-profiles .lifetime .bar,
.p-profiles .lifetime .times {
	display: none;
}

.p-profiles .lifetime .title>.label {
	font-size: 0;
	line-height: 0;
}

.p-profiles .lifetime .title>.label::before {
	content: 'Активность';
	display: block;
}


/* Вкладки */
.u-tabs>div:not([data-tab]) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: auto;
}

.u-tabs [data-tab-switch] {
	display: block;
	flex-shrink: 0;
	min-width: 148px;
	padding: 4px 14px;
	margin: 8px;
	border: 2px solid var(--color-border);
	border-radius: 18px;
	color: var(--color-text-hint);
	font-weight: bold;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	transition: .24s ease;
	user-select: none;
}

.u-tabs [data-tab-switch].active {
	background: var(--color-overlay-primary-selected);
	border-color: var(--color-primary);
	color: var(--color-primary);
	cursor: default;
}

.u-tabs [data-tab] {
	padding: 12px 8px;
	overflow: hidden;
}

.u-tabs.--centered [data-tab-switch]:first-child {
	margin-left: auto;
}

.u-tabs.--centered [data-tab-switch]:last-child {
	margin-right: auto;
}

.u-tabs.--anorva [data-tab-switch] {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	min-width: 96px;
	padding: 4px;
	margin: 4px 0;
	background: transparent;
	border: 0;
	font-size: .875em;
}
