/* Обложка профиля */
.p-profiles .profile-head::before {
	display: block; 
	background-position: center 50%;
}


/* Никнейм */
.p-profiles .profile-head .c-brief header h1 {
	font: 54px 'Heiti SC';
}


/* Аватар */
.avatar img {
	border-radius: 50%;
}


/* Заголовок "О себе" */
.l-page .profile-content .about.block > div:nth-last-child(3) {
	display: none;
}


/* Всплывающие стрелки */
.tipsy-arrow {
	display: none;
}


/* Вкладки в блоке "О себе" */
.u-tabs [data-tab] {
	padding: 12px 8px;
	overflow: hidden;
}

.u-tabs > div:not([data-tab]) {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	overflow-y: auto;
}

.u-tabs [data-tab-switch] {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	justify-content: flex-end;
	align-items: center;
	min-width: 96px;
	padding: 4px;
	margin: 4px 0;
	transition: 0.25s ease-in-out;
	cursor: pointer;
	user-select: none;
	opacity: 0.5;
}

.u-tabs [data-tab-switch] .b-button {
	background-color: transparent;
	color: var(--color-primary);
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	line-height: 24px;
}

.u-tabs [data-tab-switch].active {
	cursor: default;
	transition: 0.25s ease-in-out;
	opacity: 1;
}

.u-tabs [data-tab-switch]:first-child {
	margin-left: auto;
}

.u-tabs [data-tab-switch]:last-child {
	margin-right: auto;
}

@media (min-width: 768px) {
	.u-tabs [data-tab-switch]:hover {
		transform: translateY(-7px);
		opacity: 0.65;
	}
	
	.u-tabs .active[data-tab-switch]:hover {
		transform: none;
		opacity: 1;
	}
}


/* Иконки на вкладках */
[data-icon]::before {
	content: attr(data-icon);
	display: inline-block;
	vertical-align: top;
	flex-shrink: 0;
	margin-right: 8px;
	margin-left: -4px;
	width: 1em !important;
	font-family: 'Material Icons' !important;
	font-size: 24px !important;
	font-style: normal;
	font-weight: 400 !important;
	line-height: 1 !important;
	letter-spacing: normal;
	text-transform: none;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
	overflow: hidden;
}


/* Вертикальные полосы */
.bar.vertical {
	padding: 0;
	border: none;
}

.bar.vertical .line {
	border: none;
}


/* Горизонтальные полосы */
.bar.horizontal .line {
	padding: 0;
	margin: 0;
}


/* Активность на сайте */
.p-profiles .lifetime {
	margin-bottom: 0;
	min-height: 0;
}

.p-profiles .lifetime .bar,
.p-profiles .lifetime .times,
.p-profiles .activity .title {
	display: none;
}

.p-profiles .lifetime .title .label {
	font-size: 0;
	line-height: 0;
}

.p-profiles .lifetime .title .label::before {
	content: 'Активность';
	display: block;
	font-size: 0.875rem;
	line-height: 1rem;
}


/* График активности */
.activity .graph.vertical .line .bar {
	border-radius: 30px 30px 0px 0px;
}


/* Полосы прокрутки */
@media (min-width: 768px) {
	::-webkit-scrollbar {
		background-color: transparent;
		width: 10px;
	}
	
	::-webkit-scrollbar:horizontal {
		height: 10px;
	}
	
	::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 3px #000000;
		background-color: #737373;
		border-radius: 8px;
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: #8D8D8D;
	}
  
	::-webkit-scrollbar-thumb:active {
		background-color: #9A9A9A;
	}
	
	::-webkit-resizer {
		display: none;
	}
}


/* CSS редактор */
.cm-s-solarized.cm-s-light {
	background-color: #1F2123;
	color: #9EB8C7;
	text-shadow: none;
	font-size: 14px;
}

.b-edit_styles .edit_style .style_css .CodeMirror, 
.b-edit_styles .new_style .style_css .CodeMirror {
	border: 1px solid #000000;
}

.b-edit_styles .edit_style .style_css .CodeMirror.CodeMirror-fullscreen, 
.b-edit_styles .new_style .style_css .CodeMirror.CodeMirror-fullscreen {
	resize: none;
}

.cm-s-solarized.cm-s-light .CodeMirror-gutters {
	background-color: #282E33;
}

.cm-s-solarized .cm-number {
	color: #8f6fEC;
}

.cm-s-solarized .cm-property {
	color: #2BB39B;
}

.editor-container .buttons.m15 {
	position: fixed;
	top: 75px;
	right: 25px;
	z-index: 100;
}

.editor-container > div:nth-child(4) {
	display: none;
}

@media only screen and (min-width: 1024px) and (display-mode: fullscreen) {
	.b-edit_styles .edit_style .style_css .CodeMirror, 
	.b-edit_styles .new_style .style_css .CodeMirror {
		position: fixed;
		border: none;
		height: calc(100vh - 56px);
		z-index: 99;
		top: 56px;
		bottom: 0;
		right: 0;
		left: 0;
	}
}


/* BBCode редактор */
.b-shiki_editor.size-xl .body .editor > textarea {
	font-family: 'DejaVu Sans Mono';
	font-size: 13px;
	border: 1px solid #000000;  
}


/* Отображение кода для достижений без переноса длинных строк */
.p-achievements-global code {
	white-space: pre;
}

.p-achievements-global .b-code-v2::before {
	position: sticky;
	float: right;
	left: 111%;
	top: 0;
	right: 0;
}


/* Настройки колонок ширины 8 для блока "О себе" */
@media screen and (max-width: 480px) {
	.cc-8-g15 > .c-column {
		width: 23.875%;
	}
	
	.cc-8-g15 > .c-column:nth-child(3n) {
		margin-right: 1.5%;
	}
  
	.cc-8-g15 > .c-column:nth-child(3n+1) {
		clear: none;
	}
  
	.cc-8-g15 > .c-column:nth-child(4n) {
		margin-right: 0;
	}
	
	
	.cc-8-g15 > .c-column:nth-child(4n+1) {
		clear: left;
	}
}


/* Настройки колонок ширины 4 для блока "О себе" */
@media screen and (max-width: 480px) {
	.cc-4 > .c-column {
		margin-bottom: 2%;
		margin-right: 2%;
		width: 49%;
	}
}

@media screen and (min-width: 481px) and (max-width: 767px) {
	.cc-4 > .c-column {
		margin-bottom: 2%;
		margin-right: 2%;
		width: 32%;
	}
}

@media screen and (min-width: 768px) {
	.cc-4 > .c-column {
		margin-bottom: 1.333333%;
		margin-right: 1.333333%;
		width: 24%;
	}
}

.b-video.fixed .video-link img {
	width: auto;
}


/* Названия общих и жанровых достижений при наведении курсора на страничке профиля */
#profiles_show .b-achievement.is-badge::before {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 1.5rem 0.375rem 0.375rem 0.375rem;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.75);
	color: #FAFAFA !important;
	text-align: center;
	white-space: normal;
	word-break: break-word; 
	font-size: 0.825rem;	
	line-height: 1rem;
	transition: 0.25s ease-in-out;
	will-change: transform;
	opacity: 0; 
}

#profiles_show .b-achievement.is-badge:hover::before {
	padding-top: 0.375rem;
	opacity: 1;
}


/* Постеры в избранном и блоке "О себе" */
.cc-favourites.d-cutted_covers .b-catalog_entry .cover .title.two_lined,
.s-container .b-catalog_entry .cover .title.two_lined {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 0 auto;
	padding: 1.5rem 0.375rem 0.375rem 0.375rem;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: none;
	background: rgba(0, 0, 0, 0.35);
	color: #FAFAFA !important;
	text-align: center;
	font-size: 0.0rem;
	font-weight: normal;
	line-height: 1.5rem;
	transition: 0.25s ease-in-out;
	will-change: transform;
	opacity: 0;
}

.cc-favourites.d-cutted_covers .b-catalog_entry:hover .cover .title.two_lined,
.s-container .b-catalog_entry:hover .cover .title.two_lined {
	padding-top: 0.375rem;
	text-decoration: none;
	opacity: 1;
}

.s-container .cc-9-g15 > .c-column,
.s-container .cc-8-g15 > .c-column,
.s-container .cc-7-g15 > .c-column,
.s-container .cc-6-g15 > .c-column {
	margin-bottom: 5px;	
}	

@media (min-width: 768px) {
	.s-container .cc-9-g15 > .c-column,
	.s-container .cc-8-g15 > .c-column,
	.s-container .cc-7-g15 > .c-column,
	.s-container .cc-6-g15 > .c-column {
		margin-bottom: 15px;
	}	
}
